<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Exam Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Space Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
    />
    <script type="application/x-javascript">
       addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- <link th:href="@{/css/styles.css}" rel="stylesheet" /> -->
    <link
      th:href="@{/css/style.css}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
  </head>
  <body>
    <div class="main">
      <div class="main-w3l">
        <h1 class="logo-w3">Online Exam Login Form</h1>
        <div class="w3layouts-main">
          <h2><span>Login now</span></h2>
          <form th:action="@{/viewInfo}" th:object="${user}" method="post">
            <input
              placeholder="Username"
              th:field="*{username}"
              type="text"
              required="required"
            />
            <input
              placeholder="Password"
              th:field="*{pass}"
              type="password"
              required="required"
            />
            <input type="submit" value="Get Started" />
          </form>
          <div th:if="${message != null}">
            <h1 id="messageLogin" th:text="${message}"></h1>
          </div>
          <h6><a th:href="@{/forgetEmail}">Lost Your Password?</a></h6>
        </div>
        <!-- //main -->

        <!--footer-->
        <div class="footer-w3l">
          <p>
            &copy; 2021 Login Form. All rights reserved | Design by
            <a href="">Student</a>
          </p>
        </div>
        <!--//footer-->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
