<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <th:block layout:fragment="navbar">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item rounded">
            <a class="nav-link" href="#">Teacher</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="#">Student</a>
          </li>
        </ul>
      </div>
    </th:block>

    <!-- Student navbar -->
    <th:block layout:fragment="navbarStudent">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item rounded">
            <a class="nav-link" th:href="@{/students/results}">Results</a>
          </li>
        </ul>
      </div>
    </th:block>

    <!-- Teacher navbar -->
    <th:block layout:fragment="navbarTeacher">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item rounded">
            <a class="nav-link" href="/staff/manageExam">Manage Exams</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="/exam/editor">Create A New Exam</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="/assignment/listexam">Assignments</a>
          </li>
        </ul>
      </div>
    </th:block>

    <!-- Admin navbar -->
    <th:block layout:fragment="navbarAdmin">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item rounded">
            <a class="nav-link" th:href="@{/admin/managerUsers}">Manage Users</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" th:href="@{/admin/add}">Create A New User</a>
          </li>
        </ul>
      </div>
    </th:block>
  </body>
</html>
