<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Assignment</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div></div>
      <div>
        <form id="assignmentTem" 
        action="#"
        th:action="@{/assignment/assign}"
        th:object="${assignVM}"
        method="POST">
        <input type="hidden" th:field="*{subject.id}" >
        <div class="d-flex">
          <a class="btn btn-dark me-3 shadow" th:href="@{/assignment/listexam}">Back</a>
          <button class="btn btn-success ms-auto shadow" type="submit">Confirm assignment</button>
        </div>

        <table class="table caption-top table-responsive shadow" >
          <caption class="h4 alert-heading">List of Students</caption>
          <thead class="table-dark">
            <tr >
              <th scope="col">ID</th>
              <th scope="col">Assign Status</th>
              <th scope="col">Username</th>
              <th scope="col">Full Name</th>
              <th scope="col">Mobile</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody class="table-success table-hover">
            <tr th:each="student, stat : ${assignVM.students}">
              <input type="hidden" th:field="*{students[__${stat.index}__].id}" >
              <th scope="row" th:text="${student.id}">
              </th>
              <td >
                <div class="form-check form-switch d-inline" role="group">
                  <input type="checkbox" class="form-check-input me-1 ms-1" th:id="${student.id}" th:field="*{students[__${stat.index}__].isAssigned}" autocomplete="off"/>
                  <label class="btn btn-outline-success" th:for="${student.id}" th:field="*{students[__${stat.index}__].isAssigned}">Assign</label>
                </div>
                <input type="hidden" th:field="*{students[__${stat.index}__].wasAssigned}" >
                <input type="hidden" th:field="*{students[__${stat.index}__].isExamDone}" >
                <th:block th:if="${student.wasAssigned}">
                  <button class="btn btn-outline-secondary ms-2 d-inline" disabled>Old assigned</button>
                </th:block>
                <th:block th:if="${student.isExamDone}">
                  <button class="btn btn-outline-secondary ms-2 d-inline" disabled>Exam Done</button>
                </th:block>
              </td>
              <td th:text="${student.username}"></td>
              <td th:text="${student.fullname}"></td>
              <td th:text="${student.mobile}"></td>
              <td th:text="${student.email}"></td>
            </tr>
          </tbody>
        </table>
        </form>
      </div>

      <script src="/assignment/assignment.js"></script>
      </div>
    </div>
  </body>
</html>
