<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Subject fragment -->
    <div th:fragment="subject (subject)" class="card m-2 border border-primary">
      <div class="card-header p-2 bg-info text-white h3">Subject</div>
      <div class="card-body p-2">
        <div class="input-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Subject Name</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="${subject.subjectName}"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Single choice question fragment -->
    <div th:fragment="question (question)" class="card m-2">
      <div class="card-header">Question</div>
      <div class="card-body">
        <ul class="list-group input-group">
          <li class="list-group-item form-inline">
            <input
              name="answer"
              type="radio"
              value="1"
              class="form-control mr-2"
            />
            <input
              type="text"
              placeholder="Option 1"
              class="form-control w-80"
            />
          </li>
          <li class="list-group-item form-inline">
            <input
              name="answer"
              type="radio"
              value="2"
              class="form-control mr-2"
            />
            <input
              type="text"
              placeholder="Option 2"
              class="form-control w-80"
            />
          </li>
          <li class="list-group-item form-inline">
            <input
              name="answer"
              type="radio"
              value="3"
              class="form-control mr-2"
            />
            <input
              type="text"
              placeholder="Option 3"
              class="form-control w-80"
            />
          </li>
          <li class="list-group-item form-inline">
            <input
              name="answer"
              type="radio"
              value="4"
              class="form-control mr-2"
            />
            <input
              type="text"
              placeholder="Option 4"
              class="form-control w-80"
            />
          </li>
        </ul>
      </div>
    </div>

    <!-- End -->
  </body>
</html>
