<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Exam Editor</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div>Exam Editor</div>
      <div>
        <form
          id="examTemplate"
          action="#"
          th:action="@{/exam/submitExam}"
          th:object="${exam}"
          method="POST"
        >
          <div
            id="subject"
            th:replace="exam/editorFragment :: subject(${exam.subject})"
          ></div>

          <div>
            <button type="button" class="btn btn-danger m-3" onClick="">
              Cancel
            </button>
            <button type="submit" class="btn btn-success m-3" onClick="">
              Submit Exam
            </button>
            <a th:if="${exam.subject.id>0}" th:href="@{'/question/review/' + ${exam.subject.id}}"><button type="button" class="btn btn-secondary m-3">
              Review
            </button></a>
          </div>

          <hr />

          <div
            id="questionList"
            th:replace="exam/questionList :: questionList(${exam})"
          ></div>
          <div th:replace="exam/questionList :: addQuestion(${exam})"></div>

          <div th:replace="exam/questionList :: deleteQuestion"></div>
        </form>
        <script src="/exam/editor.js"></script>
      </div>
    </div>
  </body>
</html>
