<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Exam Editor</title>
  </head>
  <body>
    <div layout:fragment="content">
      <form
        action="#"
        th:action="@{/exam/submitExam}"
        th:object="${exam}"
        method="POST"
      >
        <div>Exam Editor</div>
        <div id="examTemplate">
          <div
            id="subject"
            th:replace="exam/editorFragment :: subject(${exam.subject})"
          ></div>

          <div>
            <button type="button" class="btn btn-danger m-3" onClick="">
              Cancel
            </button>
            <button type="submit" class="btn btn-success m-3" onClick="">
              Submit Exam
            </button>
          </div>

          <hr />

          <div
            id="questionList"
            th:replace="exam/questionList :: questionList(${exam.questions})"
          ></div>

          <button
            type="button"
            class="btn btn-primary m-3"
            onClick="addNewQuestion();"
          >
            Add new question
          </button>
          <!-- Question list Script -->
          <script th:inline="javascript">
            /*<![CDATA[*/

            var listQuestion = /*[[${exam.questions}]]*/ "default";
            console.log(JSON.stringify(listQuestion));

            /*]]>*/
          </script>
          <script src="/exam/editor.js"></script>
        </div>
      </form>
    </div>
  </body>
</html>
