<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- :::: ======= =================================== -->
    <!-- Subject fragment -->
    <div
      th:fragment="subject (subject)"
      class="card m-2 border border-primary shadow"
    >
      <div class="card-header p-2 bg-info text-white h3 font-weight-bold">
        Subject
      </div>
      <input type="hidden" th:field="*{subject.id}" />
      <div class="card-body p-2">
        <div class="input-group">
          <!-- Subject Name -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Subject Name</span>
            </div>
            <input
              type="text"
              class="form-control"
              th:field="*{subject.subjectName}"
            />
          </div>
          <div
            th:if="${#fields.hasErrors('subject.subjectName')}"
            th:error="*{subject.subjectName}"
            class="alert alert-danger"
          >
            Subject Name cannot be empty
          </div>
          <!-- Start Date -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Start Date</span>
            </div>
            <input
              type="date"
              class="form-control"
              th:field="*{subject.startDate}"
            />
          </div>
          <div
            th:if="${#fields.hasErrors('subject.startDate')}"
            th:error="*{subject.startDate}"
            class="alert alert-danger"
          >
            Start date cannot be empty
          </div>
          <!-- End Date -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">End Date</span>
            </div>
            <input
              type="date"
              class="form-control"
              th:field="*{subject.endDate}"
            />
          </div>
          <div
            th:if="${#fields.hasErrors('subject.endDate')}"
            th:error="*{subject.endDate}"
            class="alert alert-danger"
          >
            End date cannot be empty
          </div>
        </div>
      </div>
    </div>
    <!-- :::: ======= =================================== -->

    <!-- TEST -->
    <div th:fragment="ques (question)" th:object="${question}">
      <div th:text="${question}"></div>
    </div>

    <!-- :::: ======= =================================== -->
    <!-- Single choice question fragment -->
    <div
      th:fragment="questionSingle (index, questionList, state)"
      class="card m-2 shadow border border-warning"
    >
      <!-- Delete Question Modal-->
      <div
        class="modal fade"
        id="deleteQuestionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="newQuestionModal"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Question Confirm</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-footer d-flex">
              <button
                type="button"
                class="btn btn-outline-danger"
                onclick="deleteQuestion(id);"
              >
                Confirm
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Delete Modal -->
      <input type="hidden" th:field="*{questions[__${index}__].id}" />
      <input type="hidden" th:field="*{questions[__${index}__].isMultiple}" />
      <div class="card-header bg-warning bg-gradient h4 d-flex">
        <input
          type="text"
          th:placeholder="Question"
          class="form-control font-weight-bold flex-grow-1"
          th:field="*{questions[__${index}__].question}"
        />
        <button
          type="button"
          class="btn-close bg-danger p-2 ms-2"
          data-bs-toggle="modal"
          data-bs-target="#deleteQuestionModal"
        ></button>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    type="radio"
                    value="1"
                    th:id="'question' + ${index} + 'answer1'"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp1}"
                    class="btn-check"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer1'"
                    >Answer 1</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 1"
                class="form-control"
                th:field="*{questions[__${index}__].op1}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    type="radio"
                    value="2"
                    th:id="'question' + ${index} + 'answer2'"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp2}"
                    class="btn-check"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer2'"
                    >Answer 2</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 2"
                class="form-control"
                th:field="*{questions[__${index}__].op2}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    type="radio"
                    value="3"
                    th:id="'question' + ${index} + 'answer3'"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp3}"
                    class="btn-check"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer3'"
                    >Answer 3</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 3"
                class="form-control"
                th:field="*{questions[__${index}__].op3}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    type="radio"
                    value="4"
                    th:id="'question' + ${index} + 'answer4'"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp4}"
                    class="btn-check"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer4'"
                    >Answer 4</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 4"
                class="form-control"
                th:field="*{questions[__${index}__].op4}"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- :::: ======= =================================== -->

    <!-- :::: ======= =================================== -->
    <!-- Multiple choice question fragment -->
    <div
      th:fragment="questionMultiple (index, questionList, state)"
      class="card m-2 shadow border border-warning"
    >
      <!-- Delete Question Modal-->
      <div
        class="modal fade"
        id="deleteQuestionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="newQuestionModal"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Question Confirm</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-footer d-flex">
              <button
                type="button"
                class="btn btn-outline-danger"
                onclick="deleteQuestion(id);"
              >
                Confirm
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" th:field="*{questions[__${index}__].id}" />
      <input type="hidden" th:field="*{questions[__${index}__].isMultiple}" />
      <div class="card-header bg-warning bg-gradient h4 d-flex">
        <input
          type="text"
          placeholder="Question"
          class="form-control font-weight-bold flex-grow-1"
          th:field="*{questions[__${index}__].question}"
        />
        <button
          type="button"
          class="btn-close bg-danger p-2 ms-2"
          data-bs-toggle="modal"
          data-bs-target="#deleteQuestionModal"
        ></button>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    name="answer"
                    type="checkbox"
                    th:id="'question' + ${index} + 'answer1'"
                    th:field="*{questions[__${index}__].isCheckedOp1}"
                    th:value="*{questions[__${index}__].isCheckedOp1}"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer1'"
                    >Answer 1</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 1"
                class="form-control"
                th:field="*{questions[__${index}__].op1}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    name="answer"
                    type="checkbox"
                    th:id="'question' + ${index} + 'answer2'"
                    th:field="*{questions[__${index}__].isCheckedOp2}"
                    th:value="*{questions[__${index}__].isCheckedOp2}"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer2'"
                    >Answer 2</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 2"
                class="form-control"
                th:field="*{questions[__${index}__].op2}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    name="answer"
                    type="checkbox"
                    th:id="'question' + ${index} + 'answer3'"
                    th:field="*{questions[__${index}__].isCheckedOp3}"
                    th:value="*{questions[__${index}__].isCheckedOp3}"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer3'"
                    >Answer 3</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 3"
                class="form-control"
                th:field="*{questions[__${index}__].op3}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="btn-group" role="group">
                  <input
                    name="answer"
                    type="checkbox"
                    th:id="'question' + ${index} + 'answer4'"
                    th:field="*{questions[__${index}__].isCheckedOp4}"
                    th:value="*{questions[__${index}__].isCheckedOp4}"
                  />
                  <label
                    class="btn btn-outline-primary"
                    th:for="'question' + ${index} + 'answer4'"
                    >Answer 4</label
                  >
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 4"
                class="form-control"
                th:field="*{questions[__${index}__].op4}"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- :::: ======= =================================== -->

    <!-- End -->
  </body>
</html>
