<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Subject fragment -->
    <div th:fragment="subject (subject)" class="card m-2 border border-primary">
      <div class="card-header p-2 bg-info text-white h3 font-weight-bold">
        Subject
      </div>
      <input type="hidden" th:field="*{subject.id}" />
      <div class="card-body p-2">
        <div class="input-group">
          <!-- Subject Name -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Subject Name</span>
            </div>
            <input
              type="text"
              class="form-control"
              th:field="*{subject.subjectName}"
            />
          </div>
          <div
            th:if="${#fields.hasErrors('subject.subjectName')}"
            th:error="*{subject.subjectName}"
            class="alert alert-danger"
          >
            Subject Name cannot be empty
          </div>
          <!-- Start Date -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Start Date</span>
            </div>
            <input
              type="date"
              class="form-control"
              th:field="*{subject.startDate}"
            />
          </div>
          <div
            th:if="${#fields.hasErrors('subject.startDate')}"
            th:error="*{subject.startDate}"
            class="alert alert-danger"
          >
            Start date cannot be empty
          </div>
          <!-- End Date -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">End Date</span>
            </div>
            <input
              type="date"
              class="form-control"
              th:field="*{subject.endDate}"
            />
          </div>
          <div
            th:if="${#fields.hasErrors('subject.endDate')}"
            th:error="*{subject.endDate}"
            class="alert alert-danger"
          >
            End date cannot be empty
          </div>
        </div>
      </div>
    </div>

    <!-- TEST -->
    <div th:fragment="ques (question)" th:object="${question}">
      <div th:text="${question}"></div>
    </div>

    <!-- Single choice question fragment -->
    <div
      th:fragment="questionSingle (index, questionList, state)"
      class="card m-2"
    >
      <input type="hidden" th:field="*{questions[__${index}__].id}" />
      <input type="hidden" th:field="*{questions[__${index}__].isMultiple}" />
      <div class="card-header bg-warning h4">
        <input
          type="text"
          th:placeholder="Question"
          class="form-control font-weight-bold"
          th:field="*{questions[__${index}__].question}"
        />
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    value="1"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp1}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 1"
                class="form-control"
                th:field="*{questions[__${index}__].op1}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    value="2"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp2}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 2"
                class="form-control"
                th:field="*{questions[__${index}__].op2}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    value="3"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp3}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 3"
                class="form-control"
                th:field="*{questions[__${index}__].op3}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    value="4"
                    th:field="*{questions[__${index}__].answer}"
                    th:checked="*{questions[__${index}__].isCheckedOp4}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 4"
                class="form-control"
                th:field="*{questions[__${index}__].op4}"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Multiple choice question fragment -->
    <div
      th:fragment="questionMultiple (index, questionList, state)"
      class="card m-2"
    >
      <input type="hidden" th:field="*{questions[__${index}__].id}" />
      <input type="hidden" th:field="*{questions[__${index}__].isMultiple}" />
      <div class="card-header bg-warning">
        <input
          type="text"
          placeholder="Question"
          class="form-control font-weight-bold"
          th:field="*{questions[__${index}__].question}"
        />
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    name="answer"
                    type="checkbox"
                    th:field="*{questions[__${index}__].isCheckedOp1}"
                    th:value="*{questions[__${index}__].isCheckedOp1}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 1"
                class="form-control"
                th:field="*{questions[__${index}__].op1}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    name="answer"
                    type="checkbox"
                    th:field="*{questions[__${index}__].isCheckedOp2}"
                    th:value="*{questions[__${index}__].isCheckedOp2}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 2"
                class="form-control"
                th:field="*{questions[__${index}__].op2}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    name="answer"
                    type="checkbox"
                    th:field="*{questions[__${index}__].isCheckedOp3}"
                    th:value="*{questions[__${index}__].isCheckedOp3}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 3"
                class="form-control"
                th:field="*{questions[__${index}__].op3}"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    name="answer"
                    type="checkbox"
                    th:field="*{questions[__${index}__].isCheckedOp4}"
                    th:value="*{questions[__${index}__].isCheckedOp4}"
                  />
                </div>
              </div>
              <input
                type="text"
                placeholder="Option 4"
                class="form-control"
                th:field="*{questions[__${index}__].op4}"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- End -->
  </body>
</html>
