<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Question List fragment -->
    <div
      id="questionList"
      th:fragment="questionList (exam)"
      th:object="${exam}"
    >
      <input type="hidden" id="deleteId" th:field="*{deleteQuestionId}" />
      <div th:each="question, stat : ${exam.questions}">
        <th:block th:if="${question.isMultiple}"
          ><div
            th:replace="exam/editorFragment :: questionMultiple(${stat.index},${questions},${stat})"
          ></div
        ></th:block>

        <th:block th:unless="${question.isMultiple}"
          ><div
            th:replace="exam/editorFragment :: questionSingle(${stat.index},${questions},${stat})"
          ></div
        ></th:block>
      </div>
    </div>

    <!-- Delete Question Modal-->
    <div th:fragment="deleteQuestion">
      <div
        class="modal fade"
        id="deleteQuestionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="newQuestionModal"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Question Confirm</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-footer d-flex">
              <button
                type="button"
                class="btn btn-outline-danger"
                onclick="deleteQuestion();"
              >
                Confirm
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Delete Modal -->

    <!-- Add new Question -->
    <div th:fragment="addQuestion (exam)">
      <input
        id="isMultiple"
        type="hidden"
        th:field="*{isMultipleChoiceNewQuestion}"
      />
      <!-- Button trigger Add question modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#newQuestionModal"
      >
        Add Question
      </button>

      <!-- Add question Modal -->
      <div
        class="modal fade"
        id="newQuestionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="newQuestionModal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Select Question Type</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <button
                type="button"
                class="btn btn-outline-primary me-3"
                onclick="addNewQuestion(true);"
              >
                Multiple Choice Question
              </button>
              <button
                type="button"
                class="btn btn-outline-info me-3"
                onclick="addNewQuestion(false);"
              >
                Single Choice Question
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
