<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Question List fragment -->
    <form
      id="questionList"
      th:fragment="questionList (exam)"
      action="#"
      th:action="@{/editor/question/add}"
      th:object="${exam}"
      method="POST"
    >
      <div th:each="question, stat : ${exam.questions}">
        <div
          th:replace="exam/editorFragment :: questionSingle(${stat.index},${questions},${stat})"
        ></div>
      </div>
      <button class="btn btn-primary m-3" onclick="addNewQuestion();">
        Add new question
      </button>
    </form>
  </body>
</html>
