<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Question List fragment -->
    <div
      id="questionList"
      th:fragment="questionList (exam)"
      th:object="${exam}"
    >
      <div th:each="question, stat : ${exam.questions}">
        <th:block th:if="${question.isMultiple}"
          ><div
            th:replace="exam/editorFragment :: questionMultiple(${stat.index},${questions},${stat})"
          ></div
        ></th:block>

        <th:block th:unless="${question.isMultiple}"
          ><div
            th:replace="exam/editorFragment :: questionSingle(${stat.index},${questions},${stat})"
          ></div
        ></th:block>
      </div>
      <button class="btn btn-primary m-3" onclick="addNewQuestion();">
        Add new question
      </button>
    </div>

    <!-- Add new Question -->
    <div th:fragment="addQuestion (exam)">
      <button class="btn btn-primary m-3" onclick="addQuestion();">
        Add question
      </button>
      <div></div>
    </div>
  </body>
</html>
